@media (max-width: 800px) {
  .foot {
    height: 20px;
    padding: 10px;
    font-size: small;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
@media (min-width: 801px) {
 .foot {
    height: 20px;
    padding: 10px;
    font-size: small;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

.icon{
  height: 1.7em;
  padding-right: 3px;
}
.email{
  display: flex;
  align-items: center;
  
}

.sub {
   text-decoration: underline;
}
