.main{
  display: flex;
  position:relative;
  flex-direction: column;
  z-index: 1;
  background-color: whitesmoke;
  top: 0%;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

}

.logo{
    margin-left: 50%;
    margin-right: 50%;
    margin-top: -10px;
    margin-top: -50px;
    height: 140px !important;
    width: 140px !important;
    border-radius: 25px;
    animation: fade-in 1300ms linear 0s normal 1 both;
}


.box {
  height: 110px;
  width: 110px;
  border-radius: 25px;

  animation: fade-in 1300ms linear 0s normal 1 both;
  
  
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

 /*{
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(5, 1fr);
  gap: 140px;
  grid-auto-rows: minmax(45px, auto);
}*/

.wrapper{
    --chiclet-size: 110px;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(4, var(--chiclet-size));
    grid-template-columns: repeat(19, var(--chiclet-size));
    justify-content: center;
    margin-top: -90px;
    margin-bottom: -38px;
}




.p1{
  width: 370px;
  margin-left: 10px;
  font-size:medium;
  text-align: center;
  margin-bottom: 70px;
}

.p2{
  margin: 30px;
  font-size: x-large;
  font-weight: bold;
  width: 240px;
  text-align: left;
}





@media (min-width: 801px) {
  .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .textBox{
    width: 420px;
    height: 240px;
    border-radius: 25px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: gainsboro;  
  }

  .postImg{
    width: inherit;
    height: inherit;
    border-radius: 25px;
    
  }

  .content{
    margin-top: 60px;
    margin-left: 50%;
    margin-right: 50%;
    width: max-content;
  }
}

@media (max-width: 801px) {
  .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    
  }
  .textBox{
    width: inherit;
    height: 90%;
    min-height: 230px;
    min-width: 300px;
    border-radius: 25px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: gainsboro;  
  }
  .postImg{
    width: 100%;
    height: inherit;
    border-radius: 25px;
    
  }
  .p2{
    font-size: large;
  }
  .content{
    margin-top: 60px;
    margin-left: 50%;
    margin-right: 50%;
    width: 50%;
  }

  .p1{
    width: auto;
  }
  .h2{
    width: auto;
    font-size: larger;
    text-align: center;
  }
}

