.nav {
    height: 50px;
    width: 100%;
    background: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_main {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav_link_container {
    display: flex;
}

.insta {
    position: absolute;
    top: 0;
    height: 50px;
    right: 0;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: #fff;
} 

.logo {
    height: 1.4em;
    padding-top: 3px;
    padding-right: 17px;
    padding-left: 17px;
    cursor: pointer; 
}

.logoCenter {
    height: 6em;
    padding-top: 3px;
    cursor: pointer; 
}

.active {
    color: #fff;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 3px;
}

.notActive {
    color: rgb(160, 160, 160);
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 3px;
}