.nav {
  height: 50px;
  padding: 10px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -60px;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}

.logo {
  height: 1.4em;
  padding-top: 3px;
  padding-right: 17px;
  padding-left: 17px;
  cursor: pointer; 
}

.logoCenter {
  height: 6em;
  padding-top: 3px;
  cursor: pointer; 
}

.insta {
  position: absolute;
  top: 0;
  height: 50px;
  display: flex;
  align-items: center;
  right: 0;
}

.active{
  color: #fff;
}

.notActive{
  color: rgb(160, 160, 160);
}