.nav {
  height: 50px;
  padding: 10px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}

@media (max-width: 801px) {
  .logo {
    padding-right: 15px;
    padding-left: 45%;

    height: 6em;
    padding-top: 3px;
    cursor: pointer; 
  }
}

@media (max-width: 500px) {
    .logo {
    padding-right: 15px;
    padding-left: 35%;

    height: 6em;
    padding-top: 3px;
    cursor: pointer; 
  }
}
.Ham {
    size: 5em;
    position: inherit !important;
}

.Hamnav {
  height: 50px;
  padding: 10px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height:100%;
}

.Hamnav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-direction: column;
  padding-left: 0%;
  
}

.Hamnav ul li {
  margin: 5px 15px;
  padding-bottom: 7px;
}

.MainDev{
    display: block;
    align-items: center;

}